
.ECPage{
    display: flex;
    flex-direction: column;
}
.ECTitle{
    text-align: center;
}
.D3MapDiv{
    max-width: 80%;
}
.MapDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.MapImage{
    width:60%;
    align-self: center;
}
.buttonList{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 5px;
}
.buttonSingle{
    padding: 5px;
    border:1;
}
.MapExplanation{
    align-self: center;
    max-width: 60%;
}
.CSVdisplay{
    width: 100%;
    empty-cells: show;
    align-self: center;
    border-collapse: collapse;
    background-color: lightgray;
}
tr,th,td{
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}
tr:nth-child(odd){
    background-color: white;
}
